/* I can't not fix the typography */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* universal styles */
body {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 457px;
	padding: 10px;
}

h1 {
	font-size: 1.85em; 
	font-weight: 400;
	line-height: 1.25em;
	margin-bottom: 1.25em;

}

h2 {
	font-size: 1em; 
	font-weight: 400;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button {
	background-color: #1e8cbe;
	height: 3em;
	border: 10px solid #212934;
	box-sizing: content-box;
	width: 12.5em;
	margin-top: 2em;
}


article {
	height: 12.5em;
	background-color: #e8f0f5;
}


/* header styles */
header {
	height: 2.874em;
	background-color: #118bc0;
	clear: both;
}

.logo {
	width: 2em;
	height: 2em;
	background-color: #fff;
	margin: 0.5em 0 0.5em 0.75em;
	float: left;
}

.tagline {width: 8em;}

.login {
	width: 5em;
	height: 2.874em;
	background-color: #0070a4;
	float: right;
}

/* first section - hero content - styles */

.hero {
	background-color: #344051;
	padding-top: 9.125em;
	padding-bottom: 4.6875em;
	text-align: center;
}

.braggery {
	margin: 0 3em;
}

.arrow {
	height: 1.25em;
	background-color: #fff;
	margin: 12em auto 0 auto;
	width: 2.75em;
}

.learn_more ul {
	display: block;
	margin-top: 8.375em;
	clear: both;
}

.learn_more ul li {
	height: 4.0625em;
	background-color: #fff;
	margin: 0 4.6875em 1.875em 4.6875em;
}


.learn_more img {
	height: 3.5em;
	width: 3em;
	background-color: #616e7f;
	margin-top: 0.5625em;
	float: left;
}

.learn_more p {
	height: 3.5em;
	width: 15.5em;
	background-color: #616e7f;
	margin: 0 0.25em;
	float: right;
}


/* features section styles */

.more_features {
	height: 113em;
	background-color: #d1d3d7;
	text-align: center;
}

article {
	height: 12.5em;
	background-color: #e8f0f5;
}

.feature_block {
	background: none;
	height: 86.125em;
	padding-top: 1.875em;
}

.more_features ul li {
	height: 12.5em;
	background-color: #fff;
	margin: 0 0.75em 1.875em 0.75em;
	padding-top: 1em;
}

.feature_icon, .feature_block h2, .feature_block p {
	background-color: #c7d2d8;
	margin: 0 auto;
}

.feature_icon {
	height: 4em;
	width: 4em;
}

.feature_block h2 {
	height: 1.5em;
	width: 25em;
	margin-top: 0.75em;
}

.feature_block p {
	height: 3em;
	width: 25em;
	margin-top: 0.75em;
}

.more_features button {
	border: 0px solid white;
	margin: 8em auto 0 auto;
}

/* footer styles */
footer {
	background-color: #000;
	text-align: center;
	padding: 1.25em;
}

footer ul {margin: 0 1.5em;}

footer ul li {
	display: inline;
	font-size: 0.65em;
	margin-right: 1.25em;
}

.partner {
	height: 1.375em;
	width: 8.25em;
	background-color: #fff;
	margin: 1em auto 0 auto;
}